---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Photo from "../components/Photo.astro";
const topitems = [
  {
    path: "/src/images/insta/onpitch.jpg",
    alt: "On Pitch",
    width: 681,
    height: 681,
  },
  {
    path: "/src/images/insta/ouai.jpg",
    alt: "Oaui",
    width: 1080,
    height: 810,
  },
  {
    path: "/src/images/insta/team1.jpg",
    alt: "Team 1",
    width: 1080,
    height: 844,
  },
  {
    path: "/src/images/insta/poloroid.jpg",
    alt: "Poloroid",
    width: 539,
    height: 525,
  },
];
const miditems = [
  {
    path: "/src/images/insta/tour-deiffel.jpg",
    alt: "tour eiffel",
    width: 960,
    height: 1200,
  },
  {
    path: "/src/images/insta/friendly.jpg",
    alt: "Friendly",
    width: 941,
    height: 706,
  },
];
const bottomitems = [
  {
    path: "/src/images/insta/evening.jpg",
    alt: "Evening",
    width: 1080,
    height: 810,
  },
  {
    path: "/src/images/insta/veste-jaune.jpg",
    alt: "Veste Jaune",
    width: 1080,
    height: 609,
  },
  {
    path: "/src/images/insta/team2.jpg",
    alt: "Team 2",
    width: 1080,
    height: 608,
  },
  {
    path: "/src/images/insta/strolling.jpg",
    alt: "Strolling",
    width: 1080,
    height: 1080,
  },
];
const items = [...topitems, ...miditems, ...bottomitems];
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="content">
      <section class="club-info">
        <header>
          <h1>
            <svg
              class="mmfc"
              width="316"
              height="92"
              viewBox="0 0 316 92"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><defs
                ><style>
                  .b {
                    fill: #ffcb00;
                    stroke-width: 0px;
                    //filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
                    filter: drop-shadow(
                      3px 3px 2px rgba(var(--mmfc-blue), 0.7)
                    );
                  }
                </style>
              </defs>
              <path
                class="b"
                d="M269.6,2.22c6.92-1.63,14.08-1.62,21.5,0,1.01.35,2,.73,3.02,1.05,8.25,2.55,15.06,7.27,20.15,12.89-4.67,5.16-9.23,10.21-13.98,15.47-5.02-5.66-10.95-8.69-18.14-8.91-7.08-.22-13.66,1.27-18.62,6.74-8.15,8.98-8.49,24.58-.95,33.12,3.79,4.29,8.66,6.42,14.16,7.16,9.59,1.29,17.67-1.81,23.76-8.58,5.23,5.02,10.31,9.89,15.43,14.8-6.28,6.9-13.77,11.61-22.81,13.72-2.49.58-5.01,1.04-7.52,1.55h-9.5c-.72-.17-1.43-.41-2.15-.5-17.92-2.15-30.22-11.36-36-28.7-.49-1.48-1.13-2.14-2.77-2.13-9.92.07-19.83.07-29.75,0-1.89-.01-2.41.64-2.39,2.46.08,7.92.04,15.83.03,23.75,0,.97,0,1.93,0,2.98h-22.05v-10.47c-1.45.87-2.34,1.91-3.11,3.06-1.34,2.6-4.51,7.76-4.51,7.76,0,0-7.03.36-11.39.08-2.18-.14-2.76-.79-2.75-2.92.08-14.58.04-29.16.04-43.75,0-.95,0-1.9,0-2.85l-.62-.2c-.55.67-1.14,1.31-1.66,2-5.65,7.53-11.3,15.07-16.95,22.6-2.09,2.79-7.22,2.72-9.31-.13-5.46-7.46-10.91-14.93-16.37-22.4-.5-.69-1.05-1.35-1.58-2.02-.22.07-.43.14-.65.21v2.88c0,14.33,0,28.66,0,43q0,3.46-3.58,3.47c-4.75,0-9.5,0-14.25,0-.87,0-1.75-.11-2.92-.2v-10.58c-2.98,2.85-5.34,5.93-7.76,8.96-.55.68-1.3,1.65-2,1.68-3.78.17-7.58.08-11.71.08v-50.28c-1.04,1.31-1.62,2.01-2.16,2.73-5.6,7.47-11.19,14.94-16.79,22.4-2.3,3.07-7.33,3-9.61-.13-5.41-7.4-10.81-14.8-16.23-22.2-.5-.69-1.08-1.33-1.62-1.99-.19.08-.39.15-.58.23,0,.88,0,1.76,0,2.64,0,8.67-.5,17.37.15,25.99.57,7.62-1.32,13.84-6.79,19.05-.24.23-.37.58-.63.77-.46.32-.97.78-1.47.79-4.3.06-8.6.04-13,.04-.08-.98-.17-1.63-.17-2.28,0-27.25.01-54.5-.05-81.74,0-1.98.74-2.35,2.49-2.33,5.92.08,11.83.08,17.75,0,1.68-.02,2.73.55,3.71,1.92,6.51,9.07,13.1,18.09,19.67,27.11.57.78,1.18,1.53,1.98,2.56.75-.98,1.3-1.67,1.82-2.39,6.62-9.1,13.25-18.18,19.81-27.32.99-1.38,2.06-1.92,3.73-1.88,4.33.1,8.67-.02,13,.05,2.8.04,5.59.26,8.39.4.11,2.73.22,5.45.33,8.18.04.9.09,3,.13,3.9,1.77-2.6,3.31-4.59,4.37-6.37,3.37-5.16,6.65-7.07,12.33-6.2,1.63.25,2.72.64,3.68,1.99,6.57,9.13,13.2,18.22,19.82,27.31.52.72,1.1,1.4,1.83,2.32.78-1.02,1.39-1.8,1.97-2.59,6.47-8.89,12.98-17.76,19.36-26.72,1.2-1.69,2.49-2.28,4.54-2.28,24.41.07,48.83.04,73.24.04.87,0,1.73,0,2.79,0-.22.63-.24.89-.37,1.07-4.8,6.4-9.56,12.83-14.46,19.15-.54.69-1.84,1.08-2.79,1.11-4.91.11-9.83.11-14.75.03-1.7-.03-2.38.49-2.32,2.27.11,3.33.14,6.67,0,10-.09,2.05.71,2.53,2.61,2.51,9.17-.08,18.33-.12,27.5.03,2.36.04,3.02-.8,3.5-2.98,3.31-15.11,11.76-26.06,26.39-31.82,2.14-.84,4.37-1.46,6.56-2.18Z"
                ><title>Welcome to MMFC</title></path
              >
            </svg>
          </h1>
        </header>
        <ul role="list" class="link-card-grid">
          <Card
            href="mailto:hello@mmfc.club"
            title="Rejoignez-nous"
            body="Le seul club de football bilingue local de l'Est parisien pour les U6-U18. Une communauté de familles depuis 2012."
            flag="fr"
          />
          <Card
            href="mailto:hello@mmfc.club"
            title="Join Us"
            body="The only home grown bilingual football club in East Paris for U6-U18. A community of families since 2012."
            flag="gb"
          />
        </ul>
        <p class="footnote"><span>We ❤️ Football</span></p>
      </section>
      <section class="gallery">
        <div class="pic-group toppics">
          {
            topitems.map((item, index) => (
              <Photo
                isRow="top"
                imagePath={item.path}
                altText={item.alt}
                index={index}
                count={topitems.length}
              />
            ))
          }
        </div>
        <div class="pic-group midpics">
          {
            miditems.map((item, index) => (
              <Photo
                isRow="mid"
                imagePath={item.path}
                altText={item.alt}
                index={index}
                count={miditems.length}
              />
            ))
          }
        </div>
        <div class="pic-group bottompics">
          {
            bottomitems.map((item, index) => (
              <Photo
                isRow="bottom"
                imagePath={item.path}
                altText={item.alt}
                index={index}
                count={bottomitems.length}
              />
            ))
          }
        </div>
      </section>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    color: white;
    font-size: 1rem;
    line-height: 1.6;
    overflow: hidden;
    min-height: calc(100dvh - 2rem);
    position: relative;
  }
  .content {
    height: 100%;
    min-height: calc(100dvh - 2rem);
    max-width: calc(100vw - 2rem);
  }
  .content section.club-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: calc(100dvh - 2rem);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 960px;
    margin: 0 auto;
    max-width: 100%;
  }
  .mmfc {
    /* position: absolute;
    top: 1rem;
    left: 50%;
    transform: translatex(-50%); */
    width: 480px;
    max-width: calc(80vw - 2rem);
    height: auto;
    /* z-index: 2;
    opacity: 0.8; */
  }
  .gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    //justify-content: space-between;
    align-items: stretch;
    gap: 0;
    z-index: -1;
    position: relative;
    min-height: calc(100dvh - 2rem);
  }
  .gallery .pic-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    //height: 100%;
    width: 100%;
    //flex-grow: 1;
  }

  @media screen and (min-width: 1024px) {
    .gallery {
      flex-direction: column;
      justify-content: space-between;
    }
    .gallery .pic-group {
      flex-direction: row;
    }
  }
  header {
    text-align: center;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin: 2rem 0 1rem;
    //background-color: rgba(var(--mmfc-blue), 0.5);
    display: inline-block;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .footnote {
    margin: 2rem;
    text-align: center;
    font-size: 1rem;
    //box-shadow: 3px 3px 2px rgba(var(--mmfc-blue), 0.7);
  }
  .footnote span {
    background-color: rgba(var(--mmfc-blue), 0.7);
    padding: 0.2rem 0.6rem;
    border-radius: 2rem;
  }
  .footnote code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .footnote strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-rows: 2;
    gap: 1rem;
    padding: 0;
    margin: 0 auto;
    max-width: 18rem;
    //margin-bottom: 18dvh;
  }

  @media screen and (min-width: 1024px) {
    .link-card-grid {
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));

      max-width: 75%;
      //margin-bottom: 18dvh;
      gap: 2rem;
      margin-bottom: 8rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .pic-group > .photo:first-child > img {
      margin-left: 0;
    }
    .pic-group > .photo:last-child > img {
      margin-right: 0;
    }
    .gallery .pic-group.toppics {
      align-items: flex-start;
    }
    .gallery .pic-group.bottompics {
      align-items: flex-end;
      align-content: flex-end;
    }
  }
</style>
